<!DOCTYPE html>
<html>
<head>
   <meta cahrset = "UTF-8">
	<title>Feeback Form</title>
</head>
<body>
     <form>
	 <label>Name : <input type ="text " required></label><br></br>
	 <label>Phone Number : <input type = "tel" required ></label><br></br>
	 <label>Email :  <input type = "email" required></label><br></br>
	 <h4>Gender :-</h4>
	 <label>Male  <input type ="radio" name ="gender" id ="gender1"></label></br>
	 <label>Female  <input type ="radio" name ="gender" id ="gender2"></label></br>
	 <h4>Date Of Birth :- <input type = "date" name ="bday"></br></h4>
	 <h4>Feedback Rating :-</h4>
	 <label>Very good  <input type = "radio" name="fb" id="fb1"></label></br>
	 <label>Good  <input type = "radio" name ="fb" id = "fb2"></label></br>
	 <label>Average <input type = "radio" name = "fb" id= "fb2"></label></br>
	 <label>Poor <input type = "radio" name = "fb" id ="fb3"></label></br>
	 <label>Worst <input type ="radio" name = "fb" id = "fb4"></label></br>
	 <h4>Hobbies :-</h4>
	 <label>Cricket <input type  ="checkbox" name="hobbie" id ="hobbie1"></label></br>
	 <label>Football<input type = "checkbox" name ="hobbie" id ="hobbie2"></label></br>
	 <label>Dancing<input type = "checkbox" name ="hobbie" id ="hobbie3"></label></br>
	 
	 <input type = "submit" value  ="Submit">
	 <input type = "reset" value = "Reset">
	 
     	
		 </form>


</body>
</html>
