<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="{%block style%}{% endblock %}" />
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        {% comment %}
        <h1>This is base template</h1>
        {% endcomment %}
        <div class="container">
            <nav class="navbar navbar-default">
                {% block nav %}{% endblock nav %}
            </nav>
            {% if messages %}
            <div class="alert alert-info" role="alert">
                {% block message %} {% endblock message %}
            </div>
            {% endif %}
            <div>{% block content %} {% endblock content %}</div>
            <br />
            {% block result %} {% endblock result %}
        </div>
    </body>
</html>

{% comment %} Blocks {% endcomment %} {% comment %} Style Title nav message
content {% endcomment %}
